{% extends 'reduces/index.html' %}

{% block site_title %}{{ title }}{% endblock site_title %}

{% block page_about %}active_page{% endblock %}

{% block main_block %}

<div class="form">
    <h2>Создаем короткие ссылки специально для вас</h2>
    <div class="about">

        <p>Мы освобождаем вас от перенаселения закладок в вашем браузере. Специально для вас предоставляем место для хранения ссылок в сокращенном виде. Каждое сокращение должно иметь уникальное имя на сайте, одно среди всех пользователей. Тем не менее вы сможете видеть только те сокращения, которые создали вы.</p>
        <h3>Мы созданы для вашего удобства.</h3>
    </div>
</div>


{% endblock main_block %}
